h1, h2, h3, p{
  text-align: center;
}
.Bottom-Band{
  font-family:Helvetica;
  font-size: 11px;
  color:dimgray;
  background-color: dimgray;
}
h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p{
  font-family: Helvetica;
  font-size: 14px;
}

h3.NY{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white
}
